$blue: #4361ee;

.root {
  // width: 300px;
  background-color: rgb(13, 13, 13);
  color: #fff;
  border: 2px solid rgb(81, 81, 81);
  border-radius: 6px;
  overflow: hidden;
  margin: 5px;
  position: relative;

  &:hover {
    border: 2px solid #fff;
  }
}

.content {
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.5rem;
}

.description {
  width: 300px;
}
