.root {
  margin: 10px 700px 0 700px;
}

@media screen and (max-width: 2200px) {
  .root {
    margin: 10px 500px 0 500px;
  }
}

@media screen and (max-width: 1700px) {
  .root {
    margin: 10px 300px 0 300px;
  }
}

@media screen and (max-width: 1200px) {
  .root {
    margin: 10px 100px 0px 100px;
  }
}

@media screen and (max-width: 850px) {
  .root {
    margin: 10px 10px 0px 10px;
  }
}

.avatar {
  width: 300px;
  height: 300px;
  border: 5px solid rgb(81, 81, 81);
  border-radius: 20px;
}

.userName {
  display: inline-flex;
  text-align: center;
  align-items: center;
  font-weight: 600;
  font-size: 2rem;
}

.buttons {
  height: 60px;
  display: flex;
  align-items: center;
  background: #fff;
  justify-content: space-between;

  .button {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    text-decoration: none;
    color: rgb(125, 177, 255);
    font-size: 20px;
    font-weight: 500;
    transition: all 0.1s linear;
    &:hover {
      transform: translateY(-1px);
    }

    &:active {
      transform: translateY(0);
    }
  }
}

.hide {
  visibility: hidden;
}
