$FONT: "Segoe UI";

.App {
  font-family: $FONT;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: rgb(44, 44, 44);
  color: #fff;
}

@keyframes signIn {
  from {
    background-color: rgb(81, 81, 81);
    // background: linear-gradient(
    //   90deg,
    //   rgba(81, 81, 81, 1) 0%,
    //   rgba(133, 133, 133, 1) 100%
    // );
  }
  50% {
    background-color: rgb(133, 133, 133);
    // background: linear-gradient(
    //   90deg,
    //   rgba(133, 133, 133, 1) 0%,
    //   rgba(81, 81, 81, 1) 100%
    // );
  }
  to {
    // background: linear-gradient(
    //   90deg,
    //   rgba(81, 81, 81, 1) 0%,
    //   rgba(133, 133, 133, 1) 100%
    // );
    background-color: rgb(81, 81, 81);
  }
}

.navbar {
  height: 60px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  // background: rgb(125, 177, 255);
  background-color: rgb(13, 13, 13);
  justify-content: space-between;
  border-bottom: 2px solid rgb(81, 81, 81);

  .all_links {
    margin: 0;
    padding: 0;
  }

  .navbar__links {
    display: inline-block;
    vertical-align: middle;
    padding: 3px 10px 3px 10px;
    margin: 5px;
    text-decoration: none;
    // color: #fff;
    color: rgb(81, 81, 81);
    font-size: 20px;
    font-weight: 500;

    &:hover {
      // transform: translateY(-1px);
      background-color: rgb(81, 81, 81);
      border-radius: 7px;
      color: #fff;
      transition: background-color 0.2s linear;
    }

    &:active {
      transform: translateY(0);
    }
  }

  .active_link {
    // background: #fff;
    // border-radius: 20px;
    // color: rgb(125, 177, 255);
    // &:hover {
    //   background: rgb(239, 242, 255);
    // }
    color: #fff;
    border-bottom: 2px solid rgb(255, 255, 255);
  }
  .Sign_in {
    background-color: rgb(81, 81, 81);
    border-radius: 7px;
    color: #fff;
    transition: background-color 0.2s linear;
    animation: signIn 3s linear infinite;
    &:hover {
      background: rgb(133, 133, 133);
      animation-play-state: paused;
    }
  }
}

.projects {
  margin: 20px;

  .ul_projects {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .projects_links_btns {
      list-style-type: none;
      background: rgb(106, 131, 255);
      padding: 18px 25px;
      margin: 10px auto auto auto;
      border-radius: 20px;
      font-weight: 500;
      outline: none;
      font-size: 22px;
      cursor: pointer;
      line-height: 23px;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
      transition: all 0.1s ease-in-out;
      text-align: center;
      width: 200px;
      color: #fff;

      &:hover {
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
        transform: translateY(-1px);
      }

      &:active {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        transform: translateY(0);
      }
    }
  }
}
